/*Reset da Página */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;

}

html,body{

    height: 100%;
    margin-left: 2%;
    margin-right: 2%;
}


.clear{ clear: both;}

/*Cabeçario ---------------------------------------------------------------------------------------------------*/

header{

    padding: 20px 2% 35px 2%;
    height: 130px;
    border-bottom: 3px solid orangered;
}

.container{
    width: 90%;
    max-width: 1280px;
    margin: 10px auto;
  
    
}

.logo {
    float: left;
}

header nav.desktop{
    float:right;
    position: relative;
    top:30px;

}

header nav.desktop ul{
  
    display: flex;
    list-style-type: none;
}

header nav.desktop ul li{
    float:left; 
    margin-left: 20px;
    font-size: 20px;
    padding: 0 40px;

}

header nav .ahome{
    font-style: italic;
    color:orangered;
}

header nav.desktop ul a{
   text-decoration: none;
   font-style: italic;
   color:rgb(24, 24, 24);

}


header nav.desktop ul a:hover{
color: rgb(255, 30, 0);

}



/*Mobile --------------------------------------------------------------------------------------------------*/

.mmobile{
    display: none;
    padding: 2% 3%;
    float:right;
    width: 45px;
    height: 45px;
    background-image: url('../img/menu.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.mmobile {
    display:none;
}
.mmobile ul {
    
    display:none;
    width: 100%;
    height: 600px;
    background-image: linear-gradient(45deg, orangered, darkred);
    position: absolute;
    display: block;
    justify-content: center;
    align-items: center;
    margin: 13% auto;
    left: 0%;
    text-align: center;
    z-index: 9999;
     
}

.mmobile .close {
    
    margin:5px 15px;
    display: flex;
    float:right;
    
}

.mmobile li {
    
    margin-top: 60px;
    
}

.mmobile a {
    
    font-size: 30px;
    text-decoration: none;
    color: #eff1f1;
    transition: ease-in 0.3s;
    
}

.mmobile a:hover{
    font-size: 32px;
    color:yellow;

}



/*Item a Venda---------------------------------------------------------------------------------------------------*/


.item-venda{
    width: 100%;
    height: 500px;
    
    justify-content: center;
    align-items: center;
    
}


.item-bandeira{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.item-bandeira h2{

    margin-top: -20px;
    padding: 0 30px;
    background-color: white;
}

.vitrine-venda{

    padding:30px 0;
    display: flex;
    justify-content: center;
    align-items: center;


}

.destaque{
    float:left;
    width: 100%;
    height: 400px;
    
}

.carro-destaque{
    height: 40vw;
    margin-left: 5%; 
    margin: 10px 1%; 
    background-image: url('../img/toro.png'); 
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: contain; 
  

}

.destaque-mini{
    margin-top: -100px;
    display: flex;
    margin-left: 30px;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;


}

.carmini{
   
    width: 80px;
    height: 80px;
    background-color: #252525;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    margin-right:15px ;
    transition: ease-in 0.3s;
}

.carmini:hover{

    width: 100px;
    height: 100px;

}

.um{ background-image: url(../img/toro/1.jpeg);}
.dois{ background-image: url(../img/toro/2.jpeg);}
.tres{ background-image: url(../img/toro/3.jpeg);}
.quatro{ background-image: url(../img/toro/4.jpeg);}




.info-carro-destaque{

margin-top: 60px;  
padding:60px 2%;
display: block;
justify-content: center;



}

.info-carro-destaque h2{
    margin-top: 60px;
    text-align: center;
    margin-bottom: 20px;

}


.info-carro{
    float: right;
    padding:0 0.5%;
    text-align:justify;


  

}

.info-carro-destaque .preco{
    margin-top: 20px;
    margin-bottom: 40px;
    color:orangered;
    text-align: center;

}


.info-carro-destaque a{

    text-decoration: none;
    padding:20px 50px;
    background-image: linear-gradient(45deg, orangered, darkred);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    color: white;
    transition: ease-in 0.5s;
    margin-left: 35%;

}


.info-carro-destaque a:hover{
    color: rgb(212, 200, 30);

}



/*Veículos em Destaque  -------------------------------------------------------------------*/

.veiculos-destaque{
   
   margin-top:250px;
   padding: 50px 2%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

         
}

.bandeiras{
   
    width: 120px;
    height: 100px;
    background-image:url('../img/bandeiras.png');
    background-size: cover;
    background-repeat: no-repeat;
   
   
}

.linha{
        width: 400px;
        height: 20px;
        border-bottom: 1px solid black;
      }



.veiculos-destaque > h2{
    margin-top: -20px;
    width: 260px;
    height:30px;
    background-color: rgb(250, 247, 247);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*Vitrine de Carros -----------------------------------------------------------------------------------------*/


.container-vitrine{
    max-width: 900px;
    display: flex;
}

.vitrine-destaque{
    padding: 90px 2%;


}
.carro{
    width: 33,3%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/*Imagem dos Carros ------------------------------------------------------------------------------------*/
.car1{background-image:url('/img/carro1.jpeg');}
.car2{background-image:url('/img/carro2.jpeg');}
.car3{background-image:url('/img/carro3.jpeg');}


/*Informação dos Carros ---------------------------------------------------------------------------------*/
.info-carro{

    text-align: center;

}


.info-carro a{

    text-decoration: none;
    padding:20px 50px;
    background-image: linear-gradient(45deg, orangered, darkred);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    color: white;
    transition: ease-in 0.5s;
  
}

.info-carro a:hover{
    color: rgb(212, 200, 30);

}


/*Contato -----------------------------------------------------------------------------------------------------*/


.contato{
   
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
          
 }
   
 .contato > h2{
     margin-top: -20px;
     width: 260px;
     height:30px;
     background-color: rgb(250, 247, 247);
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
 }

 .contato form{
    max-width: 600px;
    margin: 50px auto;
    
 }

 .contato .input-dados{
    float:left;
    padding: 10px;
    margin-top: 7px;


 }

 .contato input[type=text]{

    width: 100%;
    border:1px solid #ccc;
    height: 40px;
    line-height: 40px;
    padding-left: 15px;

 }

 .w100{

    width: 100%;

 }

 .w100 textarea{

    width: 100%;
    height:150px;
    float:left;
    padding: 10px;
    margin-top: 7px;
    resize: none;
    border:1px solid #ccc;
    line-height: 40px;
    padding-left: 15px;

 }

 .w50{

    width: 50%;
    
 }

 .botao{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;


 }

 .botao input[type=submit]{
        
        text-align: center;
        padding: 10px 50px; 
        text-decoration: none;
        background-image: linear-gradient(45deg, orangered, darkred);
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
        color: white;
        transition: ease-in 0.5s;
   
  
}

/*Rodapé ----------------------------------------------------------------------------------------------------------*/
footer{ 
    padding: 40px 2%;
    background-color: #252525;
 
}

footer nav{

    float: left;

}

footer nav li{

    display: inline-block;
    margin-left: 15px;
    list-style: none;
    

}

footer nav a {

  text-decoration: none;
  font-size: 16px;
  font-weight: normal;
  color:bisque;
  opacity: 0.7;  

}


footer p {

    font-size: 12px;
    font-weight: normal;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:bisque;
    opacity: 0.7;
      
  
  }


footer p{

    float: right;
}



/*Java Script Recurso -------------------------------------------------------------------*/
.open{
    display: block;
}







/*Responsivo -------------------------------------------------------------------------------------------------*/

@media screen and (max-width:1022px){

    .item-venda{
        margin-bottom: 300px;  
        
        }



.vitrine-venda{

    padding:30px 0;
    display:block;
    justify-content: center;
    align-items: center;


}
}



@media screen and (max-width:845px){

    header nav.desktop{
        float:right;
        position: relative;
        top:-50px;
    
    }

    .container-vitrine{
       margin-bottom: 50px;
    
    
    }

   
}


@media screen and (max-width: 796px){

   .container{

    margin-left: 30px;
   }

   
.servicos_desc .parte1{

    width:50%;
    height:300px;
    padding:2% 2%;
    justify-content: center;
    align-items: center;
    text-align: left;
    background-color: rgb(29, 28, 28);
    color: white;
       
    
}

   parte1 a{
    
    padding: 5px 0; 
    text-decoration: none;
    background-image: linear-gradient(45deg, orangered, darkred);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    color: white;
    transition: ease-in 0.5s;
} 



    .servicos_desc .parte2{

        width:50%;
        height:300px;
        padding:2% 3%;
        justify-content: center;
        align-items: center;
        text-align: left;
        background-image: linear-gradient(45deg, orangered, darkred);
        color: white;
           
        
    }
    
    .parte2 h2{
        margin-top: 20px;
        font-size: 20px;
        font-weight: 400;
        color:whitesmoke;
        margin-bottom: 20px;
        
    }
    
     .parte2 p{
        font-size: 14px;
        font-weight: normal;
        font-style: italic;
        color:whitesmoke;
        
    }
    


}


@media screen and (max-width: 768px){
	section.banner{
		background-size: cover;
		background-position:center;
		height: 80vh;
	}

	nav.desktop
	{
		display: none;
	}

    .mmobile {
        margin: 2% 2%;
        display:block;
       
    }
    
    
header nav .ahome{
    
    color:rgb(255, 230, 0);
}

    .mmobile ul {
    
        display:none;
    }


/*Vitrine de Carros --------------------------------------------------------------------------------------------*/
.vitrine-destaque{
    padding: 20px 15%;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
  

    
}


.container-vitrine{
    width: 100%;
    flex-direction: column;
  
}

.carro-destaque{

    width: 100%;
    height: 400px;

}

.carro{
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0);
}
.vitrine-destaque .info-carro{

    margin-top: -90px;
}

.titulo-carro{

    margin-top: 30px;
}

}

/*Contato - Mobile 658 --------------------------------------------------------------------------------------*/

@media screen and (max-width: 658px){

 .info-carro-destaque {

        margin-top: 300px;
    }
    

.info-carro-destaque a{
   
    margin-left: 30%;

}



    .w50{ width: 100%;
    }

    

    footer nav{
        margin-top: -30px;
        width: 100%;
        text-align: center;
    
    }
    
    footer p{

        width: 100%;
        text-align: center;
    
    }

    .veiculos-destaque{
   
        margin-top:350px;
                     
     }

     .container-vitrine{
        margin-top: 60px;
     }
    

}

@media screen and (max-width: 580px){

    html,body{

        overflow-x: hidden;
    }
    
    .info-carro-destaque >.preco-carro{

        margin-left: 30%;
    }

    .info-carro >.titulo-carro{

        margin-top: 25px;
    }




.info-carro-destaque > a{

    margin-left:40px;

}

.vitrine-destaque h2{

    margin-top:-30px
}

.vitrine-destaque{

    margin-top:-120px;
    margin-bottom: 50px;
}

.veiculos-destaque {

margin-top: 400px;
margin-bottom: -200px;

 }

 .contato{
    margin-top: 100px;
    margin-bottom: -200px;


 }


.text-banner{
	padding:30px;
}

.text-banner-single{
	
    width: 200px; /* Largura do retângulo */
    height: 50px;
    font-size: 18px;
}

.text-banner{
        margin-right: 5%;
}  
   


.text-banner-single{

    
    margin-top: 10px;
    margin-bottom:30px ;
    
    
}

.rodape{

    margin-top: 300px;
}



footer p{

    padding:0 15%;
     text-align: center;
 
 }


}